!.gitkeep
.vscode
/rr
/rr.env
rr*.img
rr*.vmdk
*.zip
*.bak
*.o
**.po~
**.mo

downloads.md
tests
Changelog*
sha256sum

ovftool*
OVA*
**.ova

files/mnt/p1/.locale
files/mnt/p1/grub_cksum.syno
files/mnt/p1/GRUB_VER
files/mnt/p1/user-config.yml
files/mnt/p2
files/mnt/p3
files/tmp